# Maven
target/
.m2/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Env / secrets
.env
*.env
.env.*
!*.env.example

# Java
*.class

# Docker local data
mysql/
backups/

# Node / Angular
node_modules/
dist/
.angular/
npm-debug.log*