<div class="sidebar">

    <div class="logo">
        Producción Yerman
    </div>

    <nav>

        <a *ngIf="authService.isAdmin()" routerLink="/usuarios" routerLinkActive="active">
            Usuarios
        </a>

        <a routerLink="/dashboard" routerLinkActive="active">
            Dashboard
        </a>

        <a *ngIf="authService.isAdmin() || authService.isDuenoEmpresa() || authService.isJefePlanta() || authService.isJefeLinea()"
            routerLink="/recepcion-leche" routerLinkActive="active">
            Recepción leche
        </a>

        <a routerLink="/descremado" routerLinkActive="active" class="sidebar-link">
            Descremado
        </a>

        <a routerLink="/orden-produccion" routerLinkActive="active" class="sidebar-link">

            Órdenes de producción

        </a>

        <a routerLink="/produccion-lactea" routerLinkActive="active" class="sidebar-link">

            Producción láctea

        </a>

    </nav>

</div>