<div class="sidebar">

    <div class="logo">
        Producción Yerman
    </div>

    <nav>

        <a *ngIf="authService.isAdmin()" routerLink="/usuarios" routerLinkActive="active">

            Usuarios

        </a>

        <a routerLink="/dashboard" routerLinkActive="active">

            Dashboard

        </a>

        <a *ngIf="authService.isAdmin()
                || authService.isDuenoEmpresa()
                || authService.isJefePlanta()
                || authService.isJefeLinea()" routerLink="/recepcion-leche" routerLinkActive="active">

            Recepción leche

        </a>

        <a routerLink="/descremado" routerLinkActive="active" class="sidebar-link">

            Descremado

        </a>

        <a routerLink="/insumos" routerLinkActive="active">

            Insumos

        </a>

        <a routerLink="/formulas" routerLinkActive="active" class="sidebar-link">

            Fórmulas

        </a>

        <a routerLink="/programacion-produccion/nueva" routerLinkActive="active" class="sidebar-link">

            Programación producción

        </a>

        <a routerLink="/ordenes-produccion" routerLinkActive="active" class="sidebar-link">

            Órdenes producción

        </a>

        <a routerLink="/ejecucion-produccion" routerLinkActive="active" class="sidebar-link">

            Ejecución producción

        </a>

    </nav>

</div>