:host {
    display: block;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #334155;
}

@media (max-width: 1023px) {
    :host {
        position: fixed;
        inset: 0;
        pointer-events: none;
        z-index: 50;
    }

    :host aside,
    :host div {
        pointer-events: auto;
    }
}

@media (min-width: 1024px) {
    :host {
        width: 16rem;
        flex: 0 0 16rem;
    }
}